body {
    position: relative;
    background-image: url(/img/paper.png);
    background-position: center;
    background-size: 95% 97%;
    background-repeat: no-repeat;
}

h1 {
    position: absolute;
    font-size: 80px;
}

li img {
    height: auto;
    width: 150px;
}

/* .paper {
    position: absolute;
    background-image: url(/img/paper2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 30px 20px;
} */