body {
    /* background-image: url(/img/paper.png);
    background-repeat: cover; */
}

header h1 {
    text-align: center;
}

header a img {
    /*centers the image */
    display: block;
    margin: 0 auto;

    /* adjust size */
    height: auto;
    width: 450px;
}

.ingredients {
    position: absolute;
    background-image: url(/img/stickyNote.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 70%;
    padding: 20px 30px 20px;
}

.ingredients h2 {
    padding-top: 20px;
    padding-left: -5px;
    font-size: 180%;
}

.ingredients ul {
    font-size: 120%;
    padding-top: 20px;
}