body {
    font-family: 'Gloria Hallelujah', Courier, monospace;
    margin: 0; 
    padding: 0;

     /* setting up the background of the webpage */
     position: relative;
     background-image: url(/img/paper-753508_1920.jpg);
     background-position: center center;  /*  center the image both horizontally and vertically */
     background-repeat: no-repeat;
     background-size: cover;

     display: flex;
     flex-direction: column;
}

/* Styles for the header */
.header {
    text-align: center;
}
.header img {
    width: 500px;
    height: auto;
}
.header p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

/* Styles for the cooking information */
.cooking-info {
    display: flex;
    justify-content: center;
}
.cooking-info ul {
    background-image: url(/img/note-304229_1280.png);
    background-position: center center;  /*  center the image both horizontally and vertically */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 70px;
    font-size: 18px;
}
.cooking-info li {
    padding-bottom: 8px;
}

/* Styles for arranging the ingredients and the cooking steps*/
.info-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.steps {
    font-size: 20px;
    padding-right: 30px;
}
.steps li {
    padding-bottom: 20px;
}
.ingredients {
    background-image: url(/img/paper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-width: 370px;
    padding: 50px;
}
.ingredients h2 {
    text-align: center;
}